<ng-container *ngIf="post$ | async as items">
<table>
    <tbody>
        <tr *ngFor="let post of items.Data">
          <!-- <td>{{post.person_code}}</td>
          <td>{{post.full_name}}</td>
          <td>{{post.mobile_phone}}</td>
          <td>{{post.location}}</td> -->
          <app-post-item [item]="post"></app-post-item>
      </tr>
    </tbody>
    <tfoot class="ui-table-tfoot ng-star-inserted">
        <tr>
          <td colspan="50">
            <div style="text-align: center">
              <div style="display: inline-block">
              </div>
              <div class="custom-ng-star-inserted">
                <div class="ui-inputgroup">
                  <button (click)="search(true, false)" type="button" style="cursor: pointer;">Previous</button>&nbsp;
                  <input type="number" name="inputTextInt" pinputtext="" placeholder="Trang" [(ngModel)]="page" style="width: 50px">
                  <button (click)="search()" type="button" style="cursor: pointer;">Go</button>&nbsp;
                  <button (click)="search(false, true)" type="button" style="cursor: pointer;">Next</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </td>
        </tr>
      </tfoot>
</table>
</ng-container>