<p>
  <button (click)="onPrev()" [disabled]="currentPage <= 1">Prev</button>&nbsp;
  <input type="number" name="inputTextInt" pinputtext="" placeholder="Trang" [(ngModel)]="currentPage"
    style="width: 50px">
  <button (click)="onGo()" type="button" style="cursor: pointer;">Go</button>&nbsp;
  <button (click)="onNext()">Next</button>
</p>
<table>
  <ng-container *ngIf="items$ | async as items">
    <tr *ngFor="let item of items">
      <app-list-item [item]="item"></app-list-item>
    </tr>
  </ng-container>
  
  <!-- <tr *ngFor="let item of (items$ | async)">
    <app-list-item [item]="item"></app-list-item>
  </tr> -->
</table>
